.product__wrapper {
  h2 {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 35px;
    line-height: 52px;
    text-align: center;
    color: #22262a;
  }

  .product__list {
    list-style-type: none;
    max-width: 727px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto 23px;

    li {
      border-bottom: 2px solid white;
      transition: 0.3s;

      button {
        font-family: "Poppins";
        font-style: normal;
        font-weight: 400;
        font-size: 22px;
        line-height: 33px;
        text-align: center;
        color: #262626;
        margin: 0;
        background: none;
        border: none;
        cursor: pointer;
      }

      &:hover {
        border-bottom: 2px solid #33a0ff;

        button {
          color: #33a0ff;
        }
      }
    }
  }
}

.product__cards {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
  li {
    width: 300px;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    img {
      width: 100%;
    }
  }
}
.product {
  margin-bottom: 116px;
}

.product__box {
  text-align: center;
}

.product__title {
  margin: 0 0 26px;
  font-weight: 600;
  font-size: 35px;
  line-height: 52px;
  color: #22262a;
}

.product__cards {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
}

.product__cards-item {
  width: 100%;
  max-width: 298px;
  border: 3px solid #f6f7f8;

  img {
    width: 100%;
    height: 272px;
  }
}

.product__content {
  padding: 15px 0 11px;
}

.product__text {
  margin: 0 0 6px;
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0.5px;
  color: #223263;
}

.product__star {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  margin-bottom: 6px;

  p {
    margin: 0;
  }

  .checked {
    color: orange;
  }
}

.product__price {
  display: inline-block;
  font-weight: 700;
  font-size: 18px;
  line-height: 180%;
  letter-spacing: 0.5px;
  color: #40bfff;
}

.product__price-del {
  display: inline-block;
  margin: 0 8px 0 13px;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0.5px;
  text-decoration-line: line-through;
  color: #9098b1;
}

.product__percentage {
  display: inline-block;
  font-weight: 700;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0.5px;
  color: #fb7181;
}
